body,
        html {
           margin: 0;
           padding: 0;
            height: 100%;
            
        }
        
        .bg-img{
            background-image: url("../../static/images/img.jpg");
            min-height: 664px;
            background-position: center;
            background-size: cover;
            position: relative;
        }

        .user_card {
            width: 350px;
            margin:50px 0;
            background: rgba(0,0,0,0.6);
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;
            box-sizing: rgba(0,0,0,0.6);


        }
        .user_card h3{
            margin: 0 0 1.875rem;
            padding: 0;
            color: #fff;
            text-align: center;
        }
        .user_card .input-group {
            position: relative;
        }
        .user_card .input-group input{
            width: 100%;
            padding: 0.625rem 0;
            font-size: 1rem;
            color: #fff;
            border:none;
            border-bottom: 0.065rem solid #fff;
            outline: none;
            background: transparent;
        }

        .form_container {
            margin-top: 20px;
        }

        #form-title {
            color: #fff;

        }

        .login_btn {
            width: 100%;
            background: #33ccff !important;
            color: white !important;
        }

        .login_btn:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

        .login_container {
            padding: 0 2rem;
        }

        .input-group-text {
            background: #f7ba5b !important;
            color: white !important;
            border: 0 !important;
            border-radius: 0.25rem 0 0 0.25rem !important;
        }

        .input_user,
        .input_pass:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

        #messages {
            background-color: grey;
            color: #fff;
            padding: 10px;
            margin-top: 10px;
        }

        #logo {
            height: 100px;
            width: 100px;
        }
        .text-color{
            color: #fff;
        }