<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UROCSS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

        <a class="navbar-brand" href="{% url 'store' %}"><strong>UROCSS</strong></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% block dropdown %}
            {% if request.user.is_authenticated %}
            <div class="dropdown">
                <button style='border-radius: 10px; box-shadow: hsl(0, 86%, 0%) 0 0 5px; margin-right:30px;'
                    class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"
                    id="dropdownMenuButton" aria-haspopup="true">Category</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    <a class="dropdown-item" href="{% url 'categorical_search' item='clothing_men' %}">Clothings Men</a>
                    <a class="dropdown-item" href="{% url 'categorical_search' item='technology' %}">Technology</a>
                    <a class="dropdown-item" href="#">Food</a>
                    <a class="dropdown-item" href="#">Food</a>
                    <a class="dropdown-item" href="#">Food</a>
                    <a class="dropdown-item" href="#">Food</a>
                    <a class="dropdown-item" href="#">Food</a>

                </div>
            </div>

            {% else %}


            {% endif %}
            {% endblock %}


            <form action="{% url 'search_products' %}" method="GET" class="form-inline">
                <input name="search_product_name" class="form-control mr-sm-2" type="search" placeholder="Search"
                    aria-label="Search">
                <button style='border-radius: 10px; box-shadow: hsl(0, 86%, 0%) 0 0 5px; margin-right:30px;'
                    class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
            </form>

            <div class="form-inline my-2 my-lg-0 ml-auto">
                {% block login-logout %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active navbar-brand">
                            Hello, {{request.user}}!
                        </li>

                        <li class=" nav-item active">
                            {% if request.user.is_authenticated %}
                            <a style='border-radius: 10px; box-shadow: hsl(0, 86%, 0%) 0 0 5px;'
                                href="{% url 'order_status' %}" class="btn btn-primary"> Order Status</a>


                            {% else %}
                            <a href="{% url 'login' %}"
                                style='border-radius: 10px; box-shadow: hsl(0, 86%, 0%) 0 0 5px;'
                                class="btn btn-success">Login</a>
                            {% endif %}
                        </li>
                        <li class=" nav-item active">
                            {% if request.user.is_authenticated %}
                            <div class="dropdown">
                                <button
                                    style='border-radius: 10px; box-shadow: hsl(0, 86%, 0%) 0 0 5px;margin-left: 10px; margin-right:30px;'
                                    class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                                    id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">setting</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                    <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
                                    <a class="dropdown-item" href="#">#</a>

                                </div>

                            </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>

                {% endblock login-logout %}
                <a href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'images/cart.png' %}">
                </a>
                <p id="cart-total">{{cartItems}}</p>

            </div>

        </div>
    </nav>
    <div class="container">
        <br>
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/cart.js' %}"></script>
</body>

</html>