{% extends 'store/Main.html' %}
{% load static %}

{% block content %}
<div class="row" id="row">
    {% if orders %}
    {% for order in orders %}

    <div class=" col-lg-12 margin-adder">
        <a class="link" href="{% url 'view_order_detail_user' id=order.transaction_id %}">
            <div class="box-element-order product">

                <h6 class="price">Ordered At:{{order.date_ordered}}</h6>


            </div>
        </a>
    </div>

    {% endfor %}
    {% else %}
    <h1>You have not made any orders yet, Kindly make one!</h1>
    {% endif %}


</div>
{% endblock %}