{% extends 'store/Main.html' %}
{% load static %}
{% block bgimg %}
<div class="bg-img">
    {% endblock %}
    {% block content %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="box">
                <h3 style="text-align: center; color: rgb(197, 194, 194);" class="alert">Password reset complete.</h3>
                <p class="text-color" style="text-align: center;">Your password has been set. You may go ahead and log
                    in
                    now.</p>
                <div style="text-align: center;">
                    <a href="{% url 'login' %}"><button class="btn btn-primary">Log in</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}