{% extends 'store/Main.html' %}
{% load static %}
{% block content %}
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="box">
            <h3 style="text-align: center; color: rgb(197, 194, 194);" class="alert">A link has been sent to your email
                address.Please open the link and activate your UROCSS account!</h3>
            <p class="text-color" style="text-align: center;">If you didn't recieve the link. Please, Check your email
                address carefully and please have a look in folder of your email account.</p>
        </div>
    </div>
</div>
{% endblock %}