{% extends 'store/Main.html' %}
{% load static %}

{% block content %}

<div class="container h-100" id="form-login">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <img id="logo" src="{% static 'images/logo.png' %}">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">LOGIN</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>

                        <input type="text" name="username" placeholder="Username..." class="form-control">
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>

                        <input type="password" name="password" placeholder="Password..." class="form-control">
                    </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Login">
                    </div>
                </form>

            </div>


            {% for message in messages %}
            <p id="messages">{{message}}</p>
            {% endfor %}

            <div class="mt-4 text-color">

                <hr>
                <div class="d-flex justify-content-center links">
                    Forgot password?<a href="{% url 'reset_password' %}" class="ml-2">
                        <button class="btn btn-primary btn-sm">Reset Password</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row" id="row">


    <div class="col-lg-6">
        <!-- <div class="box-element-each"> -->
        <img class="thumbnail-each" src="{{product.image}}">
        <!-- </div> -->
    </div>
    <div class="col-lg-6">
        <div class="box-element-each">
            <h6 class="name"><strong>{{product.name}}</strong></h6>
            <br>
            <h6 class="price">Rs {{product.price|floatformat:2}}</h6>
            <hr>


            <h6><strong>Colors: </strong>{{product.color}}</h6>
            <h6><strong>Available Size: </strong>{{product.size}}</h6>
            <h6><strong>Distance From Ringroad: </strong>{{product.distance}}</h6>
            <h6><strong>Seller: </strong>{{product.seller}}</h6>
            {% if product.stock == 0 %}
            <h6><strong>Stock: </strong>Out Of Stock</h6>
            {% else %}
            <h6><strong>Stock: </strong>{{product.stock}}</h6>
            {% endif %}
            <h6><strong>Description: </strong>{{product.description}}</h6>
            {% if not product.stock == 0 %}
            <button data-product={{product.id}} data-action="add" class="btn btn-success add-btn update-cart">Add
                to Cart</button>
            {% endif %}

        </div>

    </div>


    <div class="images-each-extras" style="margin-bottom: 4%;">
        <h1> Photos For {{product.name}}</h1>
        <img class="thumbnail-each-extras" src="{{product.image_first}}">
        <img class="thumbnail-each-extras" src="{{product.image_second}}">
        <img class="thumbnail-each-extras" src="{{product.image_third}}">

    </div>



    {% endblock %}